{{ partial "header.html" . }}

{{if isset .Params "pub"}}
  {{ range first 1 .Pages}}
  <section class="tb-feature-post">
    {{ partial "posthero.html" . }}
  </section>
  {{end}}
{{else}}
  {{ range first 1 (after 1 .Pages) }}
  <section class="tb-feature-post">
    {{ partial "posthero.html" . }}
  </section>
  {{end}}
{{end}}

<section class="tb-post-list">

{{if isset .Params "pub"}}
  {{ range first 3 .Pages }}

    {{partial "postbox.html" .}}

  {{end}}
{{else}}
  {{ range first 3 (after 1 .Pages)}}

    {{partial "postbox.html" .}}

  {{end}}
{{end}}

</section>


<a href="{{ .Site.BaseURL }}todos-os-posts/" class="tb-btn tb-btn-seeall">Artigos</a>

{{ partial "footer.html" . }}
